@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto';
    box-sizing: border-box;
    margin: 0px;
}


header{
    background-color:#222222;
    color: white;
    height: 100px;
    font-size: 16px;
}

.Container{
    display: flex;
    justify-content: space-between;
    padding: 40px 20px 40px 122px;
}

header .Container nav ul{
    display: flex;
    justify-content: space-around;
}

header .Container nav ul li{
    padding: 5px;
}

main{
    background-color: #E5E5E5;
}

Section{
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cardone{
    background: url(../img/delivery.png);
    width: 490px;
    height: 350px;
}

.Cardone h2{
    position: absolute;
    padding-top: 20px;
    padding-left: 20px;
    color:#FC200C;
    font-size: 24px;
}

.Cardone a{
    color: white;
}

.Cardtwo{
    background-color: white;
    width: 490px;
    height: 350px;
}

.Cardtwo h2{
    position: absolute;
    padding-top: 26px;
    padding-left: 160px;
    color: #FC200C;
    font-size: 24px;
}

.Cardtwo h3{
    position: absolute;
    padding-top: 112px;
    padding-left: 70px;
    font-weight: bold;
    font-size: 20px;
}

.Cardtwo ol{
    position: absolute;
    padding-top: 155px;
    padding-left: 51px;
    font-weight: bold;
    font-size: 16px;
}

.Cardtwo ol li{
    margin: 5px;

}

.Cardtwo img{
    position: absolute;
    padding-top: 130px;
    padding-left: 325px;
}

footer{
    background-color:#222222;
    color: white;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

footer nav ul li{
    padding: 5px;
}

footer a img{
    padding: 55px;
}
